:root {
  --gray-background: #212121;
  --purple: #bc85fc;
  --turquoise: #04d9c5;
  --white-hover: #e6e6e6;
  --white-default: #ababab;
  --black: #000605;
  --gray-nav: #2e2e2e;
}

header {
  font-family: calibri;
  color: var(--white-default);
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--gray-nav);
  box-shadow: 0.5rem 0.5rem 10px #000000;
}

a {
  text-decoration: none;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 3rem;
  font-size: 10vm;
  color: var(--white-default);
  padding: 2%;
  width: 5rem;
  text-align: center;
}

a:hover {
  background-color: var(--purple);
  color: var(--black);
}

.head {
  grid-area: 1 / 2 / 1 / 2;
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
}

.BestSellers {
  grid-area: 2 / 2 / 3 / 3;
  border: solid;
}

main {
  display: grid;
  grid-template: repeat(auto-fit, 20%) / 15% auto 15%;
}

body {
  background-color: var(--gray-background);
}
